new_prediction/player_predictions_1000_2020.csv
new_prediction/player_predictions_2500_2020.csv
new_prediction/player_predictions_5000_2020.csv
new_prediction/player_predictions_7500_2020.csv
new_prediction/player_predictions_injuries_1000_2020.csv
new_prediction/player_predictions_injuries_2500_2020.csv
new_prediction/player_predictions_injuries_5000_2020.csv
new_prediction/player_predictions_injuries_7500_2020.csv
new_prediction/player_predictions_injuries_updated_1000_2020.csv
new_prediction/team_predictions_1000_2020.csv
new_prediction/team_predictions_2500_2020.csv
new_prediction/team_predictions_5000_2020.csv
new_prediction/team_predictions_7500_2020.csv
new_prediction/team_predictions_injuries_1000_2020.csv
new_prediction/team_predictions_injuries_2500_2020.csv
new_prediction/team_predictions_injuries_5000_2020.csv
new_prediction/team_predictions_injuries_7500_2020.csv
new_prediction/team_predictions_injuries_updated_1000_2020.csv
similarity_analysis/player_similarity_matrix_2.csv
similarity_analysis/player_similarity_matrix_3.csv
similarity_analysis/player_similarity_matrix_4.csv
similarity_analysis/player_similarity_matrix_5.csv
similarity_analysis/player_similarity_matrix.csv
similarity_analysis/team_similarity_matrix_2020_aligned.csv
similarity_analysis/team_similarity_matrix_2020_injured_excluded_aligned.csv
similarity_analysis/team_similarity_matrix_2020_injured_excluded.csv
similarity_analysis/team_similarity_matrix_2020.csv
similarity_analysis/team_similarity_matrix_aligned.csv
similarity_analysis/team_similarity_matrix_normalized.csv
similarity_analysis/team_similarity_matrix.csv